[submodule "analog-sdk"]
	path = analog-sdk
	url = https://github.com/WootingKb/wooting-analog-sdk.git
[submodule "analog-plugin-c/includes/hidapi"]
	path = analog-plugin-c/includes/hidapi
	url = https://github.com/libusb/hidapi.git
